@use '@angular/material' as mat;
@use 'styles/layout-utils';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: color-scheme,
      ),
      typography: Roboto,
    )
  );
  color-scheme: light dark;
}

html.light-theme {
  color-scheme: light;
}

html.dark-theme {
  color-scheme: dark;
}

html,
body {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
